{% extends "base.html" %}


{% block content %}
          <h2>Create a New Account</h2>
{% if envoi %}Votre message a bien été envoyé !{% endif %}
{% endblock %}


{% block nav %}

    <form action="{% url "creation" %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" />
    </form>
       
{% endblock %}