<!DOCTYPE html>
{% extends "base.html" %}



{% block nav %}

{% endblock %}


{% block content %}
    <h2> Success ! </h2>
    <p>
           Your account has successfully been deleted. We are sorry to see you go ! 
    </p>
    
    <ul>
            <li><a href="/homebanking/home">Home</a></li>
    </ul>
{% endblock %}