<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
       
       <ul> 
            <li><a href="/homebanking/home">Home</a></li>
       </ul>
       
{% endblock %}
{% block nav %}
       <ul>
            
            <h2>Enter your login and password to delete your account</h2>

           
            <form action="{% url "delete" %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                     <h4>Do you really want to delete your account? <br> Click on submit, but be careful it's definitive! </h4>
                    
                <input type="submit" value="Submit" />
            </form>
            <imput type=button value="Previous Page" onClick="javascript:history.go(-1);">
            
       </ul>
{% endblock %}


