<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
        <h1>Welcome to your BankPoint App</h1>
        <p>This simple application enables you to create, modify and delete your account in the blink of an eye ! </p>
{% endblock %}

{% block nav %}
       <ul>
            <h2>Connexion</h2>
            <form action="{% url "connexion" %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                <input type="submit" value="Submit" />
            </form>
           
       </ul>
{% endblock %}

{% block content_footer %}
     <li><a href="/homebanking/creation/"><h3>Create your account here !</h3></a></li>
{% endblock %}


