
{% extends "base.html" %}

{% block content %}
       
       <ul> 
            <li><a href="/homebanking/home">Home</a></li>
            <li><a href="/homebanking/mydata/{{ data.ClientId }}">Back to my data</a></li>
            <li><a href="/homebanking/delete/">Delete my account</a></li>
       </ul>
       
{% endblock %}

{% block nav %}
  <header><h2>Modifications : </h2></header>
 
  <form action="{% url "modification" data.ClientId  %}" method="post">
     {% csrf_token %}
     {{ form.as_p }}
     <input type="submit" value="Submit" />
  </form>
{% endblock %}