

{% extends "base.html" %}

{% block content %}
       
       <ul> 
            <li><a href="/homebanking/home">Home</a></li>
            <li><a href="/homebanking/modification/{{ data.ClientId }}">Modify my data</a></li>
            <li><a href="/homebanking/delete/">Delete my account</a></li>
       </ul>
       
{% endblock %}

{% block nav %}
    <header><h2>Your client account</h2></header>
    <p>
        <h3>Lastname : {{ data.Name }} </h3>
        <h3>Firstname : {{ data.Firstname }} </h3>
        <h3>Adress : {{ data.Adress }} </h3>
        <h3>Birthdate : {{ data.Birthdate }} </h3>
        <h3>Account Number : {{ data.Number }} </h3>
        <h3>Account Type : {{ data.Type }}</h3>
        <h3>Current account balance : {{ data.Balance }} €</h3>
        <h3>Creation date : {{ data.Creation }} </h3>
    </p>
{% endblock %}


