html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #FFF;
  color: #555;}

p
{line-height: 1.7em;}

h1, h2, h4
{ font: normal 170% 'century gothic', arial;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #000;}

h2
{ font-size: 160%;
  padding: 9px 0 5px 0;
  color: #c12eab;}

h3
{ font: 140% 'century gothic', arial;
  padding: 0 0 15px 0;
  color: #1d609b;}

h4
{ font-size: 140%;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 0.8em;
  color: #1d609b;}

a
{ outline: none;
  text-decoration: underline;
  color: #000;}

a:hover
{ color: #c12eab;
  text-decoration: none;}

li 
{ color: #FFF;}

#banner
{ background: transparent url(banner.jpg) no-repeat;
  background-size:contain;
  width: 860px;
  height: 180px;
  margin-bottom: 20px;
  border: 10px solid #DDD;}  


#site_content
{ width: 880px;
  height : auto; 
  overflow: hidden;
  margin: 20px auto 0 auto; 
  padding: 0 0 10px 0;} 

#content
{ text-align: left;
  width: 620px;}

#content nav
{ text-align: left;
  width: 400px;
  margin-left: auto; 
  margin-right: auto;}

#content_footer
{ text-align: left;
  width: 400px;
  margin-left: auto; 
  margin-right: auto;
  padding-top: 20px;}

#footer
{ width: 100%;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 100%;
  height: 80px;
  position: fixed;
  bottom: 0px;
  margin-left: auto; 
  margin-right: auto;
  padding: 28px 0 5px 0;
  text-align: center; 
  background: #DDD;
  border-top: 2px solid #DDD;
  color: #000;}

#footer p
{ line-height: 1.7em;
  padding: 0 0 10px 0;}

#footer a
{ color: #000;
  text-decoration: none;}

#footer a:hover
{ color: #c12eab;
  text-decoration: none;}



  
