<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="/static/style/style.css" />
   <title>{% block title %}Homebanking app{% endblock %}
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="static/style/style.css" />
</title>
</head>
<body>
    <div id="site_content">
      <div id="banner"></div>


      <div id="content">
        <section id="content">
         {% block content %}
  
         {% endblock %} 
        </section>
        <nav>
         {% block nav %}
  
         {% endblock %}
        </nav>   
      </div>
      <div id="content_footer">
        {% block content_footer %}
  
        {% endblock %} 
      </div>
    </div>
    <div id="footer">
      <p><a href="/homebanking/home">Home</a> | <a href="/homebanking/creation/">Create a new account</a></p>
      <p>Copyright &copy; Jérome Chrétien </p>
    </div>
</body>
</html>

